.profile {
  padding-top: 30px;

  .ant-tabs-bar {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 32px;
  }

  &__about {
    padding: 10px 10%;
    text-align: center;
    font-size: 1.1rem;

  }

  &__image {
    margin: 5%;
    width: 90%;
    padding-top: 90%;
    background: url("https://www.netfort.com/assets/user.png") center;
    background-size: contain;
    border: none;
    border-radius: 50%;
  }

  &__info {
    font-size: 16px;
    margin-top: 2.5rem;

    h1 {
      font-size: 32px;
      line-height: 40px;
      font-weight: 500;
      margin-bottom: 8px;
    }

    .stats {
      margin-top: 12px;
      margin-bottom: 12px;

      i {
        position: relative;
        top: -2px;
        padding-right: 4px;
      }

      .numbers {
        margin-right: 5%;

        span {
          font-weight: bold;
        }
      }
    }

    .tagline {
      margin-bottom: 0;
      width: 50%;
      //font-size: 1.5rem;
    }

    div.button_group {
      //margin-top: 15px;
      display: inline-block;
      position: relative;
      left: 15px;
      top: -7px;

      button {
        width: 100px;
        margin: 0 10px 0 0;
        border: none;
        //background-color: transparent;
        border-radius: 3px;
        padding: 2px 0;
        color: white;
        background-color: rgb(40, 40, 40);
        cursor: pointer;
      }
      button:hover {
        border: solid 1px gray;
      }
    }
  }

  &__details {

    margin-top: 1%;

    .ant-tabs-tab {
      color: #575757;
    }

  }

}

.account_private {
  padding: 50px 0px;
  margin-top: 30px;
  background-color: white;
  text-align: center;

  &__header {
    font-weight: 500;
    font-size: 1rem;
    margin: 20px 0;
  }

  &__content {
    font-weight: 300;
    font-size: 0.8rem;
  }

}

@media (max-width: 600px) {
  .profile {
    &__info {



      margin-top: 15px;

      h1 {
        font-size: 20px ;
      }

      .edit_profile {
        margin: 0 !important;

        button {
          display: none;
        }
      }

      .tagline {
        width: 100%;
      }
    }

    &__details {
      .ant-card-meta {
        display: none;
      }
    }
  }

}