
  .widget {
    border-radius: 0.5rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16), 0 3px 5px rgba(0, 0, 0, 0.23);
    padding: 10px;
    z-index: 501;
    position: relative;
    float : right;
    width: 20%;
    margin-top: 250px;
    margin-right: -300px;
  }
  
  .inline-input {
    align-items: flex-start;
    border-bottom: 1px dotted #fff;
    display: flex;
    margin: 0.5rem 0 1.5rem 0;
  }
  
  .inline-input:focus-within {
    border-bottom: 1px dotted #333;
    transition: all 0.3s ease-in-out;
  }
  
  .inline-input .mdi-icon {
    color: #fff;
    padding: 0.2rem 0.5rem 0 0;
  }
  
  .location-input {
    display: flex;
    align-items: flex-start;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    max-width: 16rem;
    outline: none;
    padding-bottom: 0.3rem;
  }
  
  .main-display {
    align-items: flex-start;
    display: flex;
    justify-content: start;
    margin: 0.5rem 0 0.5rem 0;
  }
  
  .main-info {
    align-items: flex-start;
    display: flex;
    justify-content: start;
    order: 0;
  }
  
  .temp-measurement {
    color: #333;
    font-size: 5rem;
    font-weight: 500;
    line-height: 0.85;
  }
  
  .temp-unit {
    vertical-align: top;
  }
  
  .sub-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 0 0 0.8rem;
    order: 1;
  }
  
  .sub-info-title {
    font-size: 1.15rem;
    margin: 0 0 0.3rem 0;
    text-align: start;
  }
  
  .sub-info-text {
    font-size: 0.7rem;
    color: #333;
    margin: 0 0 0.4rem 0;
    text-align: start;
  }
  
  .sub-info-text .max-temp {
    /*     font-weight: 700; */
    margin: 0 0.5rem 0 -0.1rem;
  }
  
  .selection-panel {
    margin: 1.8rem 0 0 0.6rem;
  }
  
  .selection-row {
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 0.2rem 0 0 0;
    flex-direction: row;
  }
  
  .selection-days {
    color: #333;
    font-size: 0.7rem;
    font-weight: 700;
    width: 3.5rem;
  }
  
  .selection-weather {
    color: #333;
    font-size: 0.7rem;
    width: 3.5rem;
  }
  
  .selection-icons {
    color: #333;
    font-size: 1.7rem;
    width: 3.5rem;
  }
  
  .selected {
    color: #fff;
    transition: all 0.3s ease-in-out;
  }
  
  .cloudy {
    background-image: linear-gradient(0deg, #bbdefb, #2196f3);
  }
  
  .clear {
    background-image: linear-gradient(0deg, #b3e5fc, #29b6f6);
  }
  
  .snow {
    background-image: linear-gradient(0deg, #b2ebf2, #26c6da);
  }
  
  .rain {
    background-image: linear-gradient(0deg, #c5cae9, #5c6bc0);
  }
  
  .thunderstorm {
    background-image: linear-gradient(0deg, #e0e0e0, #757575);
  }
  
  