
.main_page {
  background: url(/images/background.jpg);
  height: 100vh;
  width: 100%;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat;
  position: absolute;
}

.border_box {
  width: fit-content;
  margin: auto;
  box-sizing: border-box;
  border: 10px solid black;
  border-image: url(/images/border.svg) 7 7 10 round;
}

.border_box_1 {
  width: max-content;
  margin: auto;
  box-sizing: border-box;
  border: 10px solid black;
  border-image: url(/images/border1.svg) 7 7 10 round;
}

.main_box {
  background-color: white;
  //max-width: 400px;
  width: 360px;

  margin: auto;

  .text-center {
    font-size: 16px;
    text-align: center;
  }

  .box_header {
    padding-bottom: 5px;

    div {
      width: 50%;
      font-size: 32px;
      text-align: center;
      display: inline-block;
      cursor: pointer;
      border-bottom: solid 1px #999999;
      padding: 15px 0;
    }

    :first-child {
      border-right: solid 1px #999999;
    }
  }

  .box_content {
    padding: 0 8%;


  }

  .heading {
    font-size: 25px;
    font-weight: 500;
    strong {
      font-weight: 700;
    }
  }

  .box_text {
    .ant-input {
      border-radius: 0;
      border: solid 4px #8CCDB0;
      box-sizing: border-box;
    }

    .ant-form-item {
      margin-bottom: 10px;
    }

  }

  .submit_btn {
    border: none;
    border-radius: 0;
    background-color: #2EB2FF;
    width: 100%;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    color: white;
    font-weight: 600;
  }

}

.main_content {
  position: relative;
  padding-top: 10vh;
  max-width: 800px;
  width: 95%;
  margin: auto;
  left: -10%;
  font-family: 'Montserrat', sans-serif;

  .main_box {
    background: #F4F4EF;
  }
  .box_content {
    padding: 0 15%;
  }
}

@media (max-width: 992px) {
  .main_content {
    left: 0;
  }
}
@media (max-width: 1200px) {
  .main_content {
    left: 7%;
  }
}

.rect_logo {
  img {
    width: 100%;
    padding: 0 10px;
  }
}

.white_spans {
  color: black;
  div {
    background: #F4F4EF;
    padding: 4px 8px;
    margin-bottom: 20px;
    width: fit-content;
    font-size: 35px;
    font-weight: 800;
  }
}

.box_text {
  padding-top: 10px;
  padding-bottom: 20px;

  p {
    text-align: center;
    padding-top: 10px;

    span {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.box_animated_text {
  color: white !important;
  padding: 80px 20px;

  h3 {
    color: white;
  }

  span {
    font-size: 2rem;
  }
}

.ant-progress-bg {
  background-color: black;
}

#message {
  margin: 0;
  padding: 0;
  text-align: left;
  color: red;
  font-size: 13px;
}

.seller_link {
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 1000;

  button {
    background: white;
    padding: 5px 20px;
    color: black;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  }

}

.register {
  float: right;
  margin: 10px 20px;
  font-size: 18px;
  //background: rgb(233, 153, 4);
  background: black;
  color: white;
  position: relative;
}

.login_form {
  padding: 0 20px;
  margin: 60px 32% 10px 32%;

  input {
    border: solid 1px #b4b4b4;
    box-shadow: none;
    width: 100%;
    line-height: 25px;
    font-size: 16px;
    padding: 5px;
  }
}

.form_content {
  border: solid 1px #dcdcdc;
  padding: 30px 30px 10px 30px;
  background-color: white;
  margin-bottom: 20px;
}

